###### Requirements without Version Specifiers ######`
pandas
matplotlib
psutil
runipy
###### Requirements with Version Specifiers ######`
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
