###### Requirements without Version Specifiers ######`
pandas
matplotlib
psutil
runipy
###### Requirements with Version Specifiers ######`
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
